## 1. Why Learn Pandas?
What is it?
Pandas is a Python library for data manipulation and analysis. It provides Series (1D) and DataFrames (2D tabular data).

# #Why we need it?
1.Simplifies data cleaning, exploration, and manipulation.
2.Handles large datasets efficiently.
3.Built on top of NumPy for fast computations.

# where it is used
1.machine learning
2.Deep Learning
3.Image Processing
4.Data analysis
5.Scientific computations

#

In [2]:
# 2. Importing Pandas
import pandas as pd
#3.Series & DataFrames
s = pd.Series([10, 20, 30, 40]) 
print("Series:\n", s) 
# DataFrame from dict 
data = {'Name': ['Alice','Bob','Charlie'], 'Age':[25,30,35]} 
df = pd.DataFrame(data) 
print("\nDataFrame:\n", df)

Series:
 0    10
1    20
2    30
3    40
dtype: int64

DataFrame:
       Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [3]:
import pandas as pd
print(pd.__version__)

2.2.3

In [4]:
# 3.Create a Series
s = pd.Series([10, 20, 30, 40])
print("Series:\n", s)

# Create a DataFrame from a dictionary
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35]}
df = pd.DataFrame(data)
print("\nDataFrame:\n", df)

Series:
 0    10
1    20
2    30
3    40
dtype: int64

DataFrame:
       Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [7]:
import pandas as pd
#4. Read CSV (replace with your file path)
df = pd.read_csv("C:\\Users\\Lenovo\\Desktop\\23-7209 fullstack datascientist\\DATA ANALYSIS\\Titanic-Dataset.csv")

# Example DataFrame
data = {'Name':['Alice','Bob','Charlie'],'Age':[25,30,35],'Sex':['F','M','M']}
df = pd.DataFrame(data)
 
# Explore
print(df.head())
print(df.tail())
print(df.info())
print(df.describe())
print(df.shape)

      Name  Age Sex
0    Alice   25   F
1      Bob   30   M
2  Charlie   35   M
      Name  Age Sex
0    Alice   25   F
1      Bob   30   M
2  Charlie   35   M
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Sex     3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes
None
        Age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0
(3, 3)

In [8]:
#5. Selecting Columns & Rows
# Select column
print(df['Name'])
 
# Select multiple columns
print(df[['Name','Age']])
 
# Select row by index
print(df.iloc[0])       # first row
print(df.loc[0])        # first row using label
 
# Select subset of rows and columns
#print(df.loc[0:1, ['Name','Sex']])

0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
Name    Alice
Age        25
Sex         F
Name: 0, dtype: object
Name    Alice
Age        25
Sex         F
Name: 0, dtype: object

In [39]:
import pandas as pd
data=pd.DataFrame({'Name':['praneeth','leela'],'age':[20,21]})
#print(data)
df=pd.read_csv("C:/Users/akshi/Downloads/archive/Titanic-Dataset.csv")
# print(df.columns)
# print(df.head())
# print(df.tail())
# print(df.shape)

print(df[df['Age']>20])

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
884          885         0       3
885          886         0       3
886          887         0       2
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
884                             Sutehall, Mr. Henry Jr    male  25.0      0
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
884      0   SOTON/OQ 392076   7.0500   NaN        S
885      5            382652  29.1250   NaN        Q
886      0            211536  13.0000   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[535 rows x 12 columns]

In [9]:
# 6. Filtering & Sorting
# Filter rows
print(df[df['Age'] > 28])
 
# Sort by Age
print(df.sort_values('Age', ascending=False))

      Name  Age Sex
1      Bob   30   M
2  Charlie   35   M
      Name  Age Sex
2  Charlie   35   M
1      Bob   30   M
0    Alice   25   F

In [10]:
#7. Adding & Removing Columns
# Add new column
df['Age_in_5yrs'] = df['Age'] + 5
print(df)
 
# Drop column
df = df.drop('Age_in_5yrs', axis=1)
print(df)

      Name  Age Sex  Age_in_5yrs
0    Alice   25   F           30
1      Bob   30   M           35
2  Charlie   35   M           40
      Name  Age Sex
0    Alice   25   F
1      Bob   30   M
2  Charlie   35   M

In [11]:
#8. GroupBy & Aggregation
data = {'Name':['Alice','Bob','Charlie','Alice','Bob'],
        'Score':[85,90,95,80,70]}
df = pd.DataFrame(data)
print(df)
# Group by Name and calculate mean score
grouped = df.groupby('Name').mean()
print(grouped)

      Name  Score
0    Alice     85
1      Bob     90
2  Charlie     95
3    Alice     80
4      Bob     70
         Score
Name
Alice     82.5
Bob       80.0
Charlie   95.0

In [12]:
#9. Handling Missing Data
data = {'Name':['Alice','Bob','Charlie','David'],
        'Age':[25, None, 35, 40]}
df = pd.DataFrame(data)
 
# Fill missing value
df['Age'] = df['Age'].fillna(df['Age'].mean())
print(df)
 
# Drop rows with missing values
# df = df.dropna()

      Name        Age
0    Alice  25.000000
1      Bob  33.333333
2  Charlie  35.000000
3    David  40.000000